header{
    background: #1C2B35;
}
.menu-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    max-width: 1170px;
    margin: 0 auto;
    
}

.menu-part a{
    text-decoration: none;
    color:#fff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
}
.welcome{
    color: #fff;
    margin: 0 20px;
}