.product-list{
    border: 1px solid  #95A0A7;
    border-radius: 5px;
    position: relative;
    height: 500px;

}
.product-content{
    margin: 10px;
}
.product-list img{
    width: 100%;
    border-radius: 8px;
}
.name{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
letter-spacing: 0.0015em;

color: #0E161A;
}
.price{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
letter-spacing: 0.0015em;
margin: 10px 0 30px;
color: #0E161A;
}
.seller{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.004em;
    margin-bottom: 10px;
    color: #2A414F;
}
.ratting{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.004em;

color: #2A414F;
margin-bottom: 10px;
}
.add-btn{
    width: 100%;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    padding: 20px;
    color: #0E161A;
    font-weight: 400;
font-size: 15px;
position: absolute;
bottom: 0;
}